<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<title>Segreteria Universitaria</title>
</head>

<body>
	<div class="container mt-5">
		<h3>Lista dei studenti</h3>
		<div th:if="${corsi.isEmpty() == false}">
			<a th:href="@{/segreteria/studenti/form( studenteMatricola = null )}">
				<button type="button" class="btn btn-primary mt-2 mb-3">+ Aggiungi uno studente</button>
			</a>
		</div>
		<div th:if="${corsi.isEmpty() == true}" class="my-3">
			<h5>Prima di poter aggiungere uno studente, assicurati che sia presente almeno un corso</h5>
		</div>
		<div th:if="${studenti.isEmpty()}">
			<h4>Non ci sono studenti da mostrare.</h4>
		</div>
		<div th:if="${studenti.isEmpty()} == false">
			<table class="table">
				<thead>
					<tr class="table-dark">
						<th scope="col">Matricola</th>
						<th scope="col">Nome</th>
						<th scope="col">Cognome</th>
						<th scope="col">Email</th>
						<th scope="col">Data di nascita</th>
						<th scope="col">Indirizzo</th>
						<th scope="col">Città</th>
						<th scope="col">Corso</th>
						<th scope="col">Azioni</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="tempStudente : ${studenti}">
						<td th:text="${tempStudente.matricola}" />
						<td th:text="${tempStudente.nome}" />
						<td th:text="${tempStudente.cognome}" />
						<td th:text="${tempStudente.email}" />
						<td th:text="${#dates.format(tempStudente.data_nascita, 'dd/MM/yyyy')}"></td>
						<td th:text="${tempStudente.indirizzo}" />
						<td th:text="${tempStudente.citta}" />
						<td th:text="${tempStudente.corso.getNome()}" />
						<td>
							<a th:href="@{/segreteria/studenti/form( studenteMatricola = ${tempStudente.matricola} )}">
								<button type="button" class="btn btn-primary">Modifica</button>
							</a>
							<a th:href="@{/segreteria/studenti/delete/__${tempStudente.matricola}__}">
								<button type="button" class="btn btn-danger">Cancella</button>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="mt-5">
			<a href="/">Torna alla home</a>
		</div>
	</div>
</body>

</html>