<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<title>Segreteria Universitaria</title>
</head>

<body>
	<div class="container mt-5">
		<h3 th:text="${mode.equals('new')} ? 'Aggiungi studente' : 'Modifica studente'" />

		<form th:action="@{/segreteria/studenti/save}" th:object="${studente}" method="post">

			<input type="text" hidden class="form-control" th:name="mode" th:value="${mode}" />

			<div th:hidden="${mode.equals('update')}" class="form-group">
				<label class="form-label">Matricola<span class="text-danger">*</span></label>
				<input type="text" class="form-control" th:field="*{matricola}" />
			</div>

			<div class="form-group">
				<label class="form-label">Nome<span class="text-danger">*</span></label>
				<input type="text" class="form-control" th:field="*{nome}" />
			</div>

			<div class="form-group">
				<label class="form-label">Cognome<span class="text-danger">*</span></label>
				<input type="text" class="form-control" th:field="*{cognome}" />
			</div>

			<div class="form-group">
				<label class="form-label">Data di nascita<span class="text-danger">*</span></label>
				<input type="date" class="form-control" th:field="*{data_nascita}" />
			</div>

			<div class="form-group">
				<label class="form-label">Email<span class="text-danger">*</span></label>
				<input type="text" class="form-control" th:field="*{email}" />
			</div>

			<div class="form-group">
				<label class="form-label">Città<span class="text-danger">*</span></label>
				<input type="text" class="form-control" th:field="*{citta}" />
			</div>

			<div class="form-group">
				<label class="form-label">Indirizzo<span class="text-danger">*</span></label>
				<input type="text" class="form-control" th:field="*{indirizzo}" />
			</div>

			<div th:if="${mode.equals('new')}" class="form-group">
				<label class="form-label">Corso<span class="text-danger">*</span></label>
				<select class="form-select" th:name="corso_id">
					<option value="" selected>Seleziona un corso</option>
					<option th:each="tempCorso : ${corsi}" th:value="${tempCorso.id}" th:text="${tempCorso.nome}" />
				</select>
			</div>
			
			<div th:if="${mode.equals('update')}" class="form-group">
				<input type="text" hidden class="form-control" th:name="corso_id" th:value="${studente.corso.getId()}" />
			</div>

			<button type="submit" class="btn btn-primary mt-5" th:text="${mode.equals('new')} ? 'Aggiungi' : 'Aggiorna'" />

		</form>

		<div class="text-danger mt-5" th:if="${errori.isEmpty() == false}">
			<h6>Sono stati rivelati degli errori:</h6>
			<ul th:each="errore : ${errori}">
				<li th:text="${errore}" />
			</ul>
		</div>

		<div class="mt-5">
			<a href="/segreteria/studenti/list">Torna alla lista degli studenti</a>
		</div>
	</div>
</body>

</html>